.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
}
.portfolio-list__btn {
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
  background: var(--second-background-color);
  margin-bottom: 50px;
  border: var(--links-text-color);
  padding: 6px 22px 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &:active {
    color: var(--main-background-color);
    background-color: var(--links-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.portfolio-list__btn-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-list__item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}
.portfolio-list__card:hover,
.portfolio-list__card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-wrap__animation {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--main-background-color);
  font-weight: 400px;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  .portfolio-list__item:hover & {
    transform: translateY(0%);
  }
}
.portfolio-information {
  padding: 20px 24px 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  box-sizing: border-box;
}
.portfolio-information__titles {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--tittle-text-color);
  margin-bottom: 4px;
}
.portfolio-information__text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
